* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.body {
    font-family: 'Poppins', sans-serif;
    min-height: 3000px;
}

/* navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-image: linear-gradient(to left, #7dd3b9, #2a8bc4);
    border-bottom: 2px solid #83eeca;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar .navLogo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-style: italic;
}

.navbar .navLogo span {
    color: rgb(240, 202, 132);
}

.navbar .navBar-nav a {
    color: #fff;
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.3rem;
}

.navbar .navBar-nav a:hover {
    color: rgb(41, 235, 115);
}

.navbar .navBar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid rgb(41, 235, 115);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navBar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-Icons a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-Icons a:hover {
    color: rgb(41, 235, 115);
}

#menu {
    display: none;
}

/* Hero Section*/
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(0deg, rgb(228, 228, 228, 1) 8%, rgba(154, 176, 190, 0.5) 55%);
    bottom: 0;
}

.home .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.home .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(42, 139, 196, 0.5);
    line-height: 1.2;
}

.home .content span {
    color: rgb(240, 202, 132);
}

.home .content p {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.home .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #2a8bc4;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


/* About Section */
.service {
    padding: 8rem 7% 1.4rem;
}

.service h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.service h2 span {
    color: rgb(240, 202, 132);
}

.service .row {
    display: flex;
}

.service .row .service-img {
    flex: 1 1 45rem;
}

.service .row .service-img img {
    width: 100%;
}

.service .row .content {
    flex: 1 1 35rem;
    padding: 0 2rem;
}

.service .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.service .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6rem;
}

/* About Section */
.about {
    padding: 8rem 7% 1.4rem;
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about span {
    color: rgb(240, 202, 132);
}

.about p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    list-style: 1.6;
}

/*Media Quaries*/

/*Laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 755px) {
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .navBar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #9e9a9a;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navBar-nav.active {
        right: -50px;
    }

    .navbar .navBar-nav a {
        display: block;
        color: #000;
        margin: 1.5rem;
        font-size: 2rem;
    }

    .navbar .navBar-nav a:hover {
        color: #fff;
    }

    .navbar .navBar-nav a::after {
        border-bottom: 2px solid #fff;
        transform-origin: 0 0;
    }

    .navbar .navBar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .service .row {
        flex-wrap: wrap;
    }

    .service .row .service-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .service .row .content {
        padding: 0;
    }

    .service .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .service .row .content p {
        font-size: 1.6rem;
    }
}

/*Mobile*/
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}